<h2>Search Results</h2>
<div class="results-row-container">
  <% if @musics.present? %>
    <% @musics.each do |music| %>
      <div class="result-row">
        <a href="#"><%= music.title %></a>
        <p><%= music.description %></p>
      </div>
    <% end %>
  <% else %>
    <p>No music available.</p>
  <% end %>
</div>
