<footer>
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Artists', artists_path %></li>
        </ul>
      </nav>
      <p><span>Musika</span> - A Music Content Management System for Music Artists. Designed and developed by Robert Fabros.</p>
    </footer>
  </div>
  </main>