<!-- app/views/layouts/_navbar.html.erb -->
<nav class="navbar">
  <ul class="navbar-menu">
    <li class="navbar-item"><%= link_to 'Home', root_path %></li>
    <li class="navbar-item"><%= link_to 'About', about_path %></li>
    <li class="navbar-item"><%= link_to 'Contact', contact_path %></li>
    <li class="navbar-item"><%= link_to 'Admin', new_admin_user_session_path %></li>
  </ul>
</nav>
